/* utility */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner-centrale::before{
    content: "";
    display: none;
    clear: both;
}

*{font-family: 'Roboto', sans-serif;}

/* Titolo  */
#titolo{
     padding: 40px;
     text-align: center;
     color: rgb(229, 49, 112);
}
/* parte centrale */
.contenitore{
    width: 80%;
    width: 1200px;
   
    margin:0  auto;
    
}

p{
    text-align: center;
    padding-bottom: 40px;
}
/* contenitori generci allinterno del main */
.box{
    
    width: calc((100%- 10px));
    border: 1px solid black;
    float: left;
    background-color:rgb(15, 14, 23) ;
    margin: 10px;
    
    
    
    
}

.conteiner-img{
    height: 100%;
    display: inline-block;

}
img{
    width: 30%;
   
}
.conteiner-text{
    display: inline-block;
    color: rgb(255, 255, 255) ;
  


}






