/* utility */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cointeiner::after{
    content: "";
    display: none;
    clear: both;
}

*{font-family: 'Roboto', sans-serif;}

/* Titolo  */
#titolo{
     padding: 40px;
     text-align: center;
     color: rgb(229, 49, 112);
}
/* parte centrale */
.contenitore{
    width: 80%;
    min-width: 1200px;
   
    margin:0  auto;
    
}

p{
    text-align: center;
    padding-bottom: 40px;
}
/* contenitori generci allinterno del main */
.box{
    
    width: calc(100/ 3 );
    border: 1px solid black;
    float: left;
    float: left;
   
    
    
}

.conteiner-img{
    width: 100%;
    height: 100%;
    

}
img{
    width: 50%;
}
.conteiner-text{
    margin-left: 20px;


}


